extends layout.join

block content
  div.centered-form__form
    form(action='/chat', method='')
      div.form-field
        h3 Join a Chat 
      div.form-field
        label Display name
        input(type='text', placeholder='Your name' name='name', autofocus, autocomplete="off")
      div.form-field
        label Room Name
        input(type='text', placeholder='Room name' name='room')
      div.form-field
         button Join