doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=no')
    
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script#message-template(type='text/template').
      <li class="message">
        <div class="message__title">
          <h4>{{from}}</h4>
          <span>{{createdAt}}</span>
        </div>
        <div class="message__body">
          <p>{{text}}</p>
        </div>
      </li>
    script#location-message-template(type='text/template').
      <li class="message">
        <div class="message__title">
          <h4>{{from}}</h4>
          <span>{{createdAt}}</span>
        </div>
        <div class="message__body">
          <p>
            <a href="{{url}}" target="_blank">
             <div class="polaroid">
                <img src="{{imgUrl}}" alt="my Location" style="width:100%">
                <div class="container">
                  <p>My location</p>
                </div>
              </div>
             </a>
          </p>
        </div>
      </li>
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/libs/jquery-3.2.1.min.js')
    script(src='/javascripts/libs/moment.js')
    script(src='/javascripts/libs/mustache.js')
    script(src='/javascripts/libs/deparam.js')
    script(src='/javascripts/chat.js')

  body.chat
    block content
